# SO
.DS_Store
# Dependencias de Kraken
kraken-e2e/node_modules/*
kraken-e2e/reports/*
cypress-e2e/cypress-ghost-v4/cypress/screenshots/
cypress-e2e/cypress-ghost-v5/cypress/screenshots/
output_differences/*
node_modules