.idea
# SO
.DS_Store
# Dependencias de Kraken
kraken-e2e/node_modules/*
kraken-e2e/reports/*
kraken-e2e-base/node_modules/*
kraken-e2e-base/reports/*
kraken-e2e-rc/node_modules/*
kraken-e2e-rc/reports/*
pixelmatch/node_modules/*
Backstop/node_modules/*

cypress-e2e/cypress-ghost-v4/cypress/screenshots/
cypress-e2e/cypress-ghost-v5/cypress/screenshots/
output_differences/*
node_modules
cypress-e2e/cypress/screenshots/*